body {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

header a {
    margin: 0 10px;
}

#bio {
    margin: 10px auto;
    color: #666;
    width: 60%;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    transition: all 0.3s ease;
}

.card {
    background: #fff;
    width: calc(25% - 40px);
    margin: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    text-decoration: none;
}

.card h2 {
    text-align: center;
    color: #333;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
